body{
    background-color: rgb(31, 31, 31);
    color: white;
    font-family: system-ui;
    margin: 0 auto;
    padding: 30px;
}

h2, h3 {
    text-align: center;
}

#ctn {
    margin-top: 95px;
    text-align: center;
}

#input{
    font-weight: bold;
    font-family: 'Hubballi', cursive;
    margin : 0 50px;
}

button {
    background-color: rgb(237, 207, 37);
    border: none;
    height: 20px;
}

.mess{
    border: solid black 2px;
    background-color:  rgb(242, 210, 33);
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    margin: 50px auto;
}

#images {
    display: flex;
    justify-content: center;
    margin: 60px auto;
    height: 200px;
    width: 250px;
}

